
.ReactModal__Content.ReactModal__Content--after-open {
  left: 10px!important;
  right: 10px!important;
  top: 10px!important;
  bottom: 10px!important;
}

.tabs__btn {
  margin-right: 5rem;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  text-align: left;
  margin-bottom: 1.5rem;
}

.tabs__btn.tabs__btn--active {
  border-color: transparent;
}

.subject {
  padding-left: 1rem;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}

.prog-list {
  list-style: none;
  padding: 0;
  box-shadow: 0 5px 25px rgba(144, 151, 170, 0.5);
}

.prog-list__item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.prog-list__name-container {
  display: block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.prog-list__info-container {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  flex: 100%;
}

.prog-list__btn-container {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin: 0 auto;
}

.prog-list__btn {
  display: block;
  width: 100px;
  height: 34px;
  outline: none !important;
  margin: 0 auto;
}

.prog-list__item:nth-child(odd) {
  background-color: #C9E4F6;
}

.prog-list__item:nth-child(even) {
  background-color: #B4DAF2;
}

.info {
  display: flex;
  flex-wrap: wrap;
}

.info__item {
  flex: 100px;
  margin-right: 2rem;
}

.info__value {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 0;
}

.info__value span {
  font-weight: normal;
  font-size: 1rem;
}

.btn-close {
  background-color: transparent;
  border: none;
  font-size: 3rem;
  position: fixed;
  right: 20px;
  top: -5px;
  outline: none;
  z-index: 10;
}

.detail h2, h3, h4 {
  margin-bottom: 0.5rem;
  padding-top: 2rem;
}

.detail__institute {
  padding-top: 0 !important;
  padding-bottom: 1rem !important;
  font-size: 1.5rem;
}

.detail__progname {
  padding-top: 0 !important;
}

.detail p {
  white-space: pre-line;
}

.detail__progname {
  z-index: 2
}

.detail .info {
  padding-top: 2rem;
}

.detail__subject-list {
  display: block;
  list-style: none;
  padding: 0;
}

.detail__subject-name {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.graduates__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.graduates__name {
  padding-top: 0;
  font-size: 1.4rem;
  font-weight: bold;
}

.graduates__image {
  max-width: 100%;
  height: auto;
}


.main-site .subject {
  margin-top: -8px;
}

.main-site .info__item::after, .detail__modal .info__item::after {
  background-color: transparent;
}

.main-site .info__item:hover, .detail__modal .info__item:hover {
  transform: none;
}

.main-site .prog-list__btn {
  width: 115px;
  height: 38px;
}

.main-site h2 {
  margin-bottom: 3rem;
}

.main-site .tabs__btn {
  margin-bottom: 3rem;
}

.main-site ._btn-lnk {
  border: 0;
  background-color: transparent;
  color: #2c2e81;
  border-bottom: 1px dashed #2c2e81;
  line-height: normal;
  margin-right: 3rem;
  margin-bottom: 2rem;
}

.main-site .tabs__btn--active {
  border-color: transparent;
}



@media (min-width: 1200px) {
  .prog-list__item {
    flex-wrap: nowrap;
  }

  .prog-list__name-container {
    flex: 0 0 200px;
  }

  .prog-list__info-container {
    flex: 1;
  }

  .prog-list__btn-container {
    flex: 0 0 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .graduates__item {
    flex-wrap: nowrap;
  }

  .graduates__image-wrapper {
    flex: 0 0 200px;
  }

  .graduates__text {
    flex: 1;
    padding-left: 1rem;
  }

  .tabs__btn {
    font-size: 22px;
  }

  .detail__subject-list {
    display: flex;
  }

}

@media (min-width: 1450px) {
  .ReactModal__Content.ReactModal__Content--after-open {
    left: 230px!important;
    right: 230px!important;
  }

  .btn-close {
    right: 260px;
  }

  .main-site .subject {
    font-size: 1rem;
  }
}
